<nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center mt-3 ms-5 me-5 rounded">
  <div class="container-fluid me-5 ms-5">

    <a class="navbar-brand" href="#"><strong>Professores</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#modalcadastro">Adicionar professor</button>
        </li>
        
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" name="busca" type="search" placeholder="Buscar professor" aria-label="Search" [(ngModel)]="busca">
        <button class="btn btn-primary" type="submit" (click)="buscarProfessor()">Buscar</button>
      </form>

    </div>

  </div>
</nav>
